<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <div class="items">
                <div class="item center dark-item">
                    <h2>Hosting</h2>
                    <input type="hidden" name="idHosting" id="idHosting" />
                </div>
            </div>
            <div class="items">
                <div class="container dark-item">
                    <div>
                        <div class="item">
                            <label for="nomeHosting">Nome</label>
                            <input type="text" id="nomeHosting"></input>
                        </div>
                        <div class="item">
                            <label for="urlHosting">Url</label>
                            <input type="text" id="urlHosting"></input>
                        </div>
                        <div class="item">
                            <label for="hUsername">hUsername</label>
                            <input type="text" id="hUsername"></input>
                        </div>
                        <div class="item">
                            <label for="hPassword">hPassword</label>
                            <input type="password" id="hPassword"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="items  dark-item">
                <div class="separate item right">
                    <button class="button dark-red" type="button" name="action" value="anulla"
                        onclick="closeModal('modal1')">anulla</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-check" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" action="/siti_web">
                <div class="items">
                    <div class="item center dark-item">
                        <h2>Hosting</h2>
                        <input type="hidden" name="idHosting" id="idHosting" />
                    </div>
                </div>
                <div class="items">
                    <div class="container dark-item">
                        <div>
                            <div class="item">
                                <label for="nomeHosting">Nome</label>
                                <span id="nomeHosting"></span>
                            </div>
                            <div class="item">
                                <label for="urlHosting">Url</label>
                                <span id="urlHosting"></span>
                            </div>
                            <div class="item">
                                <label for="hUsername">hUsername</label>
                                <span id="hUsername"></span>
                            </div>
                            <div class="item">
                                <label for="hPassword">hPassword</label>
                                <span id="hPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="items  dark-item">
                        <div class="separate item right">
                            <button class="button green" type="submit">Siti Webs</button>
                            <button class="button dark-red" type="button" name="action" value="anulla"
                                onclick="closeModal('modal2')">anulla</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-remove" id="modal3" class="modal">
    <div class="card-form">
        <div class="box-modal">
            <div class="module">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="cercare">Sei sicuro di eliminare questo Hosting</h2>
                        <input type="hidden" name="idHosting" id="idHosting" />
                    </div>
                </div>
                <div class="items">
                    <div class="separate dark-item">
                        <div class="item">
                            <label for="idHosting">Id</label>
                            <span id="idHosting"></span>
                        </div>
                        <div class="item">
                            <label for="nomeHosting">Nome</label>
                            <span id="nomeHosting"></span>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item center dark-item">
                        <img class="claimers" th:src="@{/images/claimers/warning-svgrepo-com.svg}" alt="">
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" name="action" value="invia">Elimina</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal3')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>