<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="Post" action="/hosting/saveHosting" id="formHosting">
                <div class="items">
                    <div class="item center dark-item">
                        <h2>Hosting</h2>
                        <input type="hidden" name="id" id="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="container dark-item">
                        <div>
                            <div class="item">
                                <label for="nome">Nome</label>
                                <input type="text" name="nome" id="nome"></input>
                            </div>
                            <div class="item">
                                <label for="netsonUrl">netsonUrl</label>
                                <input type="text" name="netsonUrl" id="netsonUrl">
                            </div>
                            <div class="item">
                                <label for="url">Url</label>
                                <input type="text" name="url" id="url">
                            </div>
                            <div class="item">
                                <label for="hUsername">hUsername</label>
                                <input type="text" name="hUsername" id="hUsername"></input>
                            </div>
                            <div class="item">
                                <label for="hPassword">hPassword</label>
                                <input type="password" name="hPassword" id="hPassword"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="submit" onclick="saveFormHosting(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">anulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-check" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <div class="module"  id="checkHosting">
                <div class="items">
                    <div class="item center dark-item">
                        <h2>Hosting</h2>
                    </div>
                </div>
                <div class="items">
                    <div class="container dark-item">
                        <div>
                            <div class="item">
                                <label for="nome">Nome</label>
                                <input type="text"readonly name="nome"></input>
                            </div>
                            <div class="item">
                                <label for="netsonUrl">netsonUrl</label>
                                <input type="text" readonly name="netsonUrl">
                            </div>
                            <div class="item">
                                <label for="url">Url</label>
                                <input type="text"readonly name="url"></input>
                            </div>
                            <div class="item">
                                <label for="hUsername">hUsername</label>
                                <input type="text"readonly name="hUsername"></input>
                            </div>
                            <div class="item">
                                <label for="hPassword">hPassword</label>
                                <input type="text" readonly name="hPassword"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="items  dark-item">
                        <div class="separate item right">
                            <form action="/website" method="get">
                                <input type="hidden" name="hostingId"/>
                                <button class="button green" type="submit">Siti Webs</button>
                            </form>
                            <button class="button dark-red" type="button" name="action" value="anulla"
                                onclick="closeModal('modal2')">anulla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-remove" id="modal3" class="modal">
    <div class="card-form">
        <div class="box-modal">
            <div class="module" id="formDeleteHosting">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="cercare">Sei sicuro di eliminare questo Hosting</h2>
                        <input type="hidden" name="id"/>
                    </div>
                </div>
                <div class="items">
                    <div class="item center dark-item">
                        <img class="claimers" th:src="@{/images/claimers/warning-svgrepo-com.svg}" alt="">
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" onclick="deleteHosting();">Elimina</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal3')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
