.card-form{
    display: block;
    align-content: center;
    margin: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
}

.card-form .box-modal{
    background: var(--second-color);
    margin:0.25rem 0rem;
    padding:0.25rem 0.5rem;
    width: 100%;
    display: flex;
}
.modal{
    position: absolute;
    display: none;
    align-content: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}
.module{
    display: flex;
    flex-direction: column;
}
.items{
    display: block;
    margin:0.25rem 0;
    width: 100%;
}
.item{
    display: flex;
    padding: 1rem 2rem;
    width: 100% ;
}
.center{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.item label{
    display: block;
    min-width: 6rem;
    align-content: center;
    text-align: center;
}
.item input,.item textarea{
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
}

input:disabled,input[readOnly]{
    background: var(--blue-gray-color);
    color: var(--light-font-color);
}
