.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.card{
    display: block;
    align-self: center;
    margin: 1rem;
    padding: 3rem;
    background: var(--blue-dark-color);
    text-align: center;
}
.box{
    background: var(--second-color);
    margin:0.25rem 0rem;
    padding:0.25rem 0.5rem;
}
.adapter{
    min-width: 40rem;
}
input{
    border-width: 0;
    padding: 0.25rem;
}
.it-bn-1{
    grid-column-start:2;
    grid-column-end:3;
    justify-self: right;
}
.value{
    max-width:4rem;
    text-align: center;
}
.table{
    table-layout: auto;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}
.table thead{
    background: var( --second-color);
}
.table tbody{
    background: var(--blue-gray-color);
}

th, td{
    padding: 0.5rem 0.25rem ;
    max-width: 10rem;
    overflow: hidden;    
    white-space: nowrap; 
    text-overflow: ellipsis;
    justify-items: center;
}

.dt-layout-cell{
    overflow-y:auto;
    overflow-x: auto;
    box-sizing: border-box;
    max-height: 25rem;
}
.dt-search input{
    background-color: var(--light-font-color);
}
.dt-layout-cell::-webkit-scrollbar {
    background: #5f5f5f;
    width: 0.5rem; 
    height: 0.5rem; 
}
.dt-layout-cell::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}
.card::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.separate{
    justify-content: space-between;
}