<div th:fragment="modal-save-update" id="modal1" class="modal">

    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="formUtente">
                <div class="items">
                    <div class="item center">
                        <h2>Utente</h2>
                        <input type="hidden" name="id" id="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="separate">
                        <div>
                            <div class="item">
                                <label for="nome">Nome</label>
                                <input type="text" name="nome" id="nome"></input>
                            </div>
                            <div class="item">
                                <label for="cognome">Cognome</label>
                                <input type="text" name="cognome" id="cognome"></input>
                            </div>
                            <div class="item">
                                <label for="indirizzo">Indirizzo</label>
                                <input type="text" name="indirizzo" id="indirizzo"></input>
                            </div>
                            <div class="item">
                                <label for="telefono">Telefono</label>
                                <input type="text" name="telefono" id="telefono"></input>
                            </div>
                            <div class="item">
                                <label for="email">email</label>
                                <input type="email" name="email" id="email"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="separate item right">
                        <button class="button green" type="submit" onclick="saveFormUtente(event)">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">anulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-check" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal">
            <div class="module" id="formCheckUtente">
                <div class="items">
                    <div class="item center">
                        <h2 for="cercare">Utente:</h2>
                    </div>
                </div>
                <div class="items">
                    <div>
                        <div>
                            <div class="item">
                                <label for="nome">Nome:</label>
                                <input type="text" readonly name="nome"></input>
                            </div>
                            <div class="item">
                                <label for="cognome">Cognome</label>
                                <input type="text" readonly name="cognome"></inpu>
                            </div>
                            <div class="item">
                                <label for="indirizzo">Indirizzo</label>
                                <input type="text" readonly name="indirizzo" ></input>
                            </div>
                            <div class="item">
                                <label for="telefono">Telefono</label>
                                <input type="text" readonly name="telefono"></inpu>
                            </div>
                            <div class="item">
                                <label for="email">email</label>
                                <input type="text" readonly name="email" id="email"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="separate item right">
                        <form action="/hosting/listHosting" method="get">
                            <input type="hidden" name="id" />
                            <button class="button green" type="submit">Hosting</button>
                        </form>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal2')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-remove" id="modal3" class="modal">

    <div class="card-form">
        <div class="box-modal">
            <form class="module" method="Post" id="formDeleteUtente">
                <div class="items">
                    <div class="item center">
                        <h2 for="cercare">Sei sicuro di eliminare l'Utente</h2>
                        <input type="hidden" name="id" id="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="item center">
                        <img class="claimers" th:src="@{/images/claimers/warning-svgrepo-com.svg}" alt="">
                    </div>
                </div>
                <div class="items">
                    <div class="separate item right">
                        <button class="button green" type="button" onclick="deleteUtente();">Elimina</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal3')">anulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>