<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modules/head}"></head>

<body>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <!--alt + 126 = ~ -->
    <div class="wrapper">
        <header th:replace="~{modules/menu}"></header>
        <div class="card">
            <div class="box">
                <div class="title">
                    <label>Hosting - servers</label>
                </div>
            </div>
            <div class="box">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Netson url</th>
                            <th>Url</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Update</th>
                            <th>Check</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                         <!--Inserimento dei dati-->
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div th:replace="~{hosting-modal/paginations :: pagination1}"></div>
            </div>
            <div class="container box ">
                <button type="button" class="button green right"
                    onclick="openModal('modal1');">Aggiungere</button>
            </div>
        </div>
        <div th:replace="~{hosting-modal/hosting-modals :: modal-save-update}"></div>
        <div th:replace="~{hosting-modal/hosting-modals :: modal-check}"></div>
        <div th:replace="~{hosting-modal/hosting-modals :: modal-remove}"></div>
    </div>
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/forms/hosting/Hosting.js}"></script>
    <script th:src="@{/js/forms/hosting/HostingForm.js}"></script>
    <footer th:replace="~{modules/footer}"></footer>
   
</body>