<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modules/head}"></head>

<body>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <div class="wrapper">
        <header th:replace="~{modules/menu}"></header>
        <div class="card">
            <div class="box">
                <div class="title">
                    <label for="cercare">Servizi</label>
                </div>
            </div>
            <div class="box ">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Costo</th>
                            <th>Descrizione</th>
                            <th>Data creazione</th>
                            <th>Data Aggiornamento</th>
                            <th>Update</th>
                            <th>Check</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        <!--I dati se inseriscono cui-->
                    </tbody>
                </table>
            </div>
            <div class="box">
                <button type="button" class="button light-blue right"
                onclick="openModal('modal1');">Aggiungere</button>
            </div>
        </div>
        <div th:replace="~{servizio-modal/servizio-modals :: modal-save-update}"></div>
        <div th:replace="~{servizio-modal/servizio-modals :: modal-check}"></div>
        <div th:replace="~{servizio-modal/servizio-modals :: modal-remove}"></div>
    </div>
</body>
<script th:src="@{js/Date/FormatDate.js}"></script>
<footer th:replace="~{modules/footer}"></footer>
<script th:src="@{js/forms/servizi_update/ServizioUpdate.js}"></script>
<script th:src="@{js/forms/servizi_update/ServizioUpdateForm.js}"></script>
</html>