<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modules/head}"></head>

<body>
    <div class="wrapper">
        <header th:replace="~{modules/menu}"></header>
        <div class="card">
            <div class="box">
                <div>
                    <h2 for="cercare">Utenti</h2>
                </div>
            </div>
            <div class="box ">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Indirizzo</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Update</th>
                            <th>Check</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        <!--Inserimento dei dati-->
                    </tbody>
                </table>
            </div>
            <div class="box">
                <button type="button" class="button light-blue right" onclick="openModal('modal1');">add</button>
            </div>
        </div>
        <div th:replace="~{utente-modal/utente-modals :: modal-save-update}"></div>
        <div th:replace="~{utente-modal/utente-modals :: modal-check}"></div>
        <div th:replace="~{utente-modal/utente-modals :: modal-remove}"></div>
    </div>
</body>


<footer th:replace="~{modules/footer}"></footer>
<script th:src="@{js/forms/utente/Utente.js}"></script>
<script th:src="@{js/forms/utente/UtenteForm.js}"></script>


</html>