:root{
    --blue-dark-item-color:#24354d;
    --blue-dark-color:#1b2e50;
    --second-color:#375179;
    --light-font-color:#d8dde4;
    --background-color:#121f36;
    --border-color:#55739f;
    --blue-gray-color:#3d505f;
    --danger-color:#752525;
    --light-danger-color:#964444;
    --check-color:#2e7645;
    --light-check-color:#578f60;

    --green-color:#586d56;
    --light-green-color:#758c73;

    --sky-color:#5c817f;
    --light-sky-color:#6d908e;

    --dark-red-color:#6b465f;
    --light-red-color:#916985;

    --gray-color:#303233;
    --light-gray-color:#7e8184;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}
html,body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-font-color);
    display: flex;
    width: 100%;
    min-width: 90rem;
    height: 100%;
}

h2{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
ul{
    margin:0;
    margin-block:0;
    margin-inline: 0;
    padding-inline: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.button{
    width: auto;
    padding-inline: 0;
    padding-block: 0;
    box-sizing: border-box;
    display: block;
    border: none;
    min-width: 1rem;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.button:hover {
    background-color: var(--blue-dark-item-color); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3px);
}
.right{
    margin-left: auto;
}
input[type="text"],input[type="email"],input[type="password"] {
    flex: 1;
    min-width: 15rem;
}
input[type="date"]{
    padding-inline: 0;
}
textarea{
    width:100%;
    min-width: 20rem;
    min-height: 10rem;
    max-height: 20rem;
    resize: vertical;
    background: #303335;
    border-width: 1px;
    color: var(--light-font-color);
    
}
input{
    border-width: 0;
    padding: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: var(--blue-dark-color);
    font-size: 1rem;
    transition: border 0.3s ease;
}
.item input, .item textarea {
    display: flex;
    box-sizing: border-box;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    font-size: 1rem;
    
}
span{
    margin-left: 1rem;
}
.title{
    font-size: 16px;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase; 
}
.claimers{
    width: 10rem;
}
.dark-item{
    background: var(--blue-dark-item-color);
}
.green{
    background: var(--green-color);
    color: var(--light-font-color);
}

.green:hover{
    background: var(--light-green-color);
    color: var(--light-font-color);
}
.light-blue{
    background: #4f7f7d;
    color: var(--light-font-color);
}
.light-blue:hover{
    background: #65918e;
    color: var(--light-font-color);
}
.dark-red{
    background: var(--dark-red-color);
    color: var(--light-font-color);
}

.dark-red:hover{
    background: var( --light-red-color);
    color: var(--light-font-color);
}
.danger-color{
    background: var(--danger-color);
    color: var(--light-font-color);
}

.danger-color:hover{
    background: var( --light-danger-color);
    color: var(--light-font-color);
}
.gray-color{
    background: var(--gray-color);
    color: var(--light-font-color);
}
.gray-color:hover{
    background: var(--light-gray-color);
    color: var(--light-font-color);
}
.check-color{
    background: var(--check-color);
    color: var(--light-font-color);
}

.check-color:hover{
    background: var( --light-check-color);
    color: var(--light-font-color);
}