<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modules/head}"></head>

<body>
  <!--alt + 126 = ~ -->
  <div class="wrapper">
    <header th:replace="~{modules/menu}"></header>
    <div class="card">
      <div class="box">
        <div>
          <h2 for="cercare">Siti Web Da Aggiornare</h2>
        </div>
      </div>
      <div class="box ">
        <table class="table" id="table1">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Aggiornamento</th>
              <th>Nome del servizio</th>
              <th>Azione</th>
            </tr>
          </thead>
          <tbody id="tbody1">
            <!--Insertamo i dati da js-->
          </tbody>
        </table>
      </div>
    </div>
    <div id="modal1" class="modal">
      <div class="container ">
        <div class="card-form">
          <div class="box adapter">
            <form class="module" action="/saveAggSw" method="post">
              <div class="items">
                <div class="item center dark-item">
                  <h2 for="cercare">Descrizzione del aggiormamento</h2>
                  <input type="hidden" name="idSitoWeb">
                </div>
              </div>
              <div class="items ">
                <div class="item dark-item">
                  <label for="date">Data</label>
                  <input type="hidden" name="date">
                  <input disabled readonly type="date" name="date" id="date">
                </div>
                <div class="item dark-item">
                  <label for="nomeWebSite">Sito Web</label>
                  <input type="hidden" name="nomeWebSite">
                  <input disabled type="text" name="nomeWebSite" id="nomeWebSite" readonly></input>
                </div>
                <div class="item dark-item">
                  <label for="description">Descrizzione</label>
                  <textarea name="description" id="description" placeholder="aggiunge una descrizzione"></textarea>
                </div>
                <div class="item dark-item">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" placeholder="aggiunge un messagio"></textarea>
                </div>
                <div class="item separate dark-item">
                  <button class="button green" type="submit" name="action" value="invia">Salva</button>
                  <button class="button dark-red" type="button" name="action" value="anulla"
                    onclick="closeModal('modal1')">anulla</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="js/Date/FormatDate.js"></script>
<script src="js/forms/SitiWebAgg.js"></script>

<footer th:replace="~{modules/footer}"></footer>
<script src="js/Tables/Home.js"></script>


</html>