<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{modules/head}"></head>

<body>
  <!--alt + 126 = ~ -->
  <div class="wrapper">
    <header th:replace="~{modules/menu}"></header>
    <div class="card">
      <div class="box">
        <div>
          <h2 for="cercare">Siti Web Da Aggiornare</h2>
        </div>
      </div>
      <div class="box ">
        <table class="table" id="table1">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Aggiornamento</th>
              <th>Nome del servizio</th>
              <th>Azione</th>
            </tr>
          </thead>
          <tbody id="tbody1">
            <!--Insertamo i dati da js-->
          </tbody>
        </table>
      </div>
    </div>
    <div th:replace="~{index-modal/index-modals :: modal-save-update}"></div>
  </div>
</body>

<script th:src="@{/js/Date/FormatDate.js}"></script>
<script th:src="@{/js/forms/index/SitiWebAgg.js}"></script>

<footer th:replace="~{modules/footer}"></footer>


</html>