<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="formWebSite">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="id">Aggiornare Sito Web</h2>
                        <input type="hidden" name="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="separate dark-item">
                        <div class="item">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome"></input>
                        </div>
                        <div class="item">
                            <label for="url">Url</label>
                            <input type="text" name="url" id="url"></input>
                        </div>
                        <div class="item">
                            <label for="descrizione">descrizione</label>
                            <textarea name="descrizione" id="descrizione"
                                placeholder="aggiunge una descrizione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item">
                        <button class="button green" type="button" onclick="saveWebSiteForm(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">anulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-check" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <div id="formCheckWebSite">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="idServizio">Sito Web</h2>
                    </div>
                </div>
                <div class="items">
                    <div class="separate dark-item">
                        <div>
                            <div class="item">
                                <label for="nomeS">Nome</label>
                                <input disabled type="text" name="nome"></input>
                            </div>
                            <div class="item">
                                <label for="url">Url</label>
                                <input disabled type="text" name="url"></input>
                            </div>
                            <div class="item">
                                <label for="descrizione">descrizione</label>
                                <textarea disabled name="descrizione" id="descrizione"
                                    placeholder="aggiunge una descrizzione"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button dark-red right" type="button" name="action" value="anulla"
                            onclick="closeModal('modal2')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-remove" id="modal3" class="modal">
    <div class="card-form">
        <div class="box-modal">
            <div class="module" id="formDeleteWebSite">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="cercare">Sei sicuro di eliminare questo Servizio</h2>
                        <input type="hidden" name="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="item center dark-item">
                        <img class="claimers" th:src="@{/images/claimers/warning-svgrepo-com.svg}" alt="">
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" onclick="deleteWebSite();">Elimina</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal3')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-AnaServizio" id="modal4" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="formAnaServizio">
                <div class="items">
                    <div class="item center dark-item">
                        <h2>Anagrafica Servizio</h2>
                        <input type="hidden" name="webSiteId" />
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="servizioId">ID del Servizio</label>
                            <input type="number" name="servizioId" id="servizioId"></input>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item separate">
                        <div>
                            <label for="dateIni">Data inizio</label>
                            <input type="date" name="dateIni" id="dateIni"></input>
                        </div>
                        <div>
                            <label for="dateFine">Data fine</label>
                            <input type="date" name="dateFine" id="dateFine"></input>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item">
                        <label for="periodo">Periodo</label>
                        <input type="number" name="periodo" id="periodo" placeholder="periodo"></input>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item">
                        <div>
                            <label for="descrizione">Descrizione</label>
                            <textarea name="descrizione" id="descrizione" placeholder="aggiunge una descrizione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" onclick="saveServizioForWebSite();">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal4')">annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>