<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="formWebSite">
                <div class="items">
                    <div class="item center">
                        <h2>Siti Webs</h2>
                        <input type="hidden" name="webSiteId">
                    </div>
                </div>

                <div class="items">
                    <div class="item">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="url">Url</label>
                        <input type="text" name="url" id="url"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item separate">
                        <div>
                            <label for="dataAggiornamento">Data Aggiornamento</label>
                            <input type="date" name="dataAggiornamento" id="dataAggiornamento"></input>
                        </div>
                        <div>
                            <label for="dataBackup">Data Backup</label>
                            <input type="date" name="dataBackup" id="dataBackup"></input>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="descrizione">descrizione</label>
                        <textarea name="descrizione" id="descrizione" placeholder="aggiunge una descrizione"></textarea>
                    </div>
                </div>

                <div class="items  dark-item">
                    <div class="separate item">
                        <button class="button green" type="button" onclick="saveWebSiteForm(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">anulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="modal-check" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <div id="formCheckWebSite">
                <div class="items">
                    <div class="item center">
                        <h2>Sito Web</h2>
                        <input type="hidden" name="webSiteId">
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="nome">Nome</label>
                        <input disabled type="text" name="nome"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="url">Url</label>
                        <input disabled type="text" name="url"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item separate">
                        <div>
                            <label for="dataAggiornamento">Data Aggiornamento</label>
                            <input type="date" disabled name="dataAggiornamento" id="dataAggiornamento"></input>
                        </div>
                        <div>
                            <label for="dataBackup">Data Backup</label>
                            <input type="date" disabled name="dataBackup" id="dataBackup"></input>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <div>
                            <label for="descrizione">Descrizione</label>
                            <textarea disabled name="descrizione" id="descrizione"
                                placeholder="aggiunge una descrizzione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class=" item">
                        <button class="button dark-red right" type="button" name="action" value="anulla"
                            onclick="closeModal('modal2')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-remove" id="modal3" class="modal">
    <div class="card-form">
        <div class="box-modal">
            <div class="module" id="formDeleteWebSite">
                <div class="items">
                    <div class="item center dark-item">
                        <h2 for="cercare">Sei sicuro di eliminare questo Servizio</h2>
                        <input type="hidden" name="id" />
                    </div>
                </div>
                <div class="items">
                    <div class="item center dark-item">
                        <img class="claimers" th:src="@{/images/claimers/warning-svgrepo-com.svg}" alt="">
                    </div>
                </div>
                <div class="items  dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" onclick="deleteWebSite();">Elimina</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal3')">anulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>