<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="webSites">
                <div class="items dark-item ">
                    <div class="item ">
                        <h2 for="cercare">Descrizzione del aggiormamento</h2>
                        <input type="hidden" name="webSiteId">
                    </div>
                </div>
                <div class="items dark-item ">
                    <div class="item center">
                        <label for="date">Data</label>
                        <input disabled type="date" name="date" id="date">
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item">
                        <label for="nome">Sito Web</label>
                        <input disabled type="text" name="nome" id="nome" readonly></input>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="descrizione">Descrizzione</label>
                            <textarea name="descrizione" id="descrizione"
                                placeholder="aggiunge una descrizione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="message">Message</label>
                            <textarea name="message" id="message" placeholder="aggiunge un messagio"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" name="action" value="invia"
                            onclick="sendMessage(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>