<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="webSite">
                <div class="items dark-item ">
                    <div class="item ">
                        <h2 for="cercare">Descrizzione del aggiormamento</h2>
                        <input type="hidden" name="webSiteId">
                    </div>
                </div>
                <div class="items dark-item ">
                    <div class="item center">
                        <label for="date">Data</label>
                        <input disabled type="date" name="date" id="date">
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item">
                        <label for="webSiteNome">Sito Web</label>
                        <input readonly type="text" name="webSiteNome" id="webSiteNome"></input>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                            <label for="subject">Oggetto</label>
                            <input type="text" name="subject" id="subject"
                                placeholder="aggiunge una oggetto">
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="message">Message</label>
                            <textarea name="message" id="message" placeholder="aggiunge un messagio"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="separate item right">
                        <button class="button green" type="button" name="action" value="invia"
                            onclick="sendMessage(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modal-save-update" id="modal2" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" method="post" id="formWebSite">
                <div class="items">
                    <div class="item center">
                        <h2>Siti Webs</h2>
                        <input type="hidden" name="webSiteId">
                    </div>
                </div>

                <div class="items">
                    <div class="item">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="url">Url</label>
                        <input type="text" name="url" id="url"></input>
                    </div>
                </div>
                <div class="items">
                    <div class="item separate">
                        <div>
                            <label for="dataAggiornamento">Data Aggiornamento</label>
                            <input type="date" name="dataAggiornamento" id="dataAggiornamento"></input>
                        </div>
                        <div>
                            <label for="dataBackup">Data Backup</label>
                            <input type="date" name="dataBackup" id="dataBackup"></input>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <label for="descrizione">descrizione</label>
                        <textarea name="descrizione" id="descrizione" placeholder="aggiunge una descrizione"></textarea>
                    </div>
                </div>

                <div class="items  dark-item">
                    <div class="separate item">
                        <button class="button green" type="button" onclick="saveWebSiteForm(event);">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal2')">annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>