<div th:fragment="modal-save-update" id="modal1" class="modal">
    <div class="card-form">
        <div class="box-modal ">
            <form class="module" action="/saveAggSw" method="post">
                <div class="items dark-item ">
                    <div class="item ">
                        <h2 for="cercare">Descrizzione del aggiormamento</h2>
                        <input type="hidden" name="idSitoWeb">
                    </div>
                </div>
                <div class="items dark-item ">
                    <div class="item center">
                        <label for="date">Data</label>
                        <input type="hidden" name="date">
                        <input disabled readonly type="date" name="date" id="date">
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item">
                        <label for="nomeWebSite">Sito Web</label>
                        <input type="hidden" name="nomeWebSite">
                        <input disabled type="text" name="nomeWebSite" id="nomeWebSite" readonly></input>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="description">Descrizzione</label>
                            <textarea name="description" id="description"
                                placeholder="aggiunge una descrizzione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="item center">
                        <div>
                            <label for="message">Message</label>
                            <textarea name="message" id="message" placeholder="aggiunge un messagio"></textarea>
                        </div>
                    </div>
                </div>
                <div class="items dark-item">
                    <div class="separate item right">
                        <button class="button green" type="submit" name="action" value="invia">Salva</button>
                        <button class="button dark-red" type="button" name="action" value="anulla"
                            onclick="closeModal('modal1')">annulla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>